*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 400vh;
    background: #bb6ab5;
    }

#head-text{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-family:'avenir-black';
    font-size: 45px;
    color: white;
    text-shadow: 1px 1px 2px pink;
}

#welcome{
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    font-family: 'avenir';
    font-size: 12pt;
}


.container{
    width: 40%;
    top: 5%;
    left: 50%;
    background: rgb(255, 255, 255);
    border-radius: 90px;
    min-width: 500px;
    position: relative;
    min-height: 250px;
    transform: translate(-50%, -50%);
}

#projects-heading{
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 2%;
    font-family: 'avenir-black';
    text-emphasis-style: "o";


}

#projects{
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 40px;
    padding-top: 2%;
    font-family: 'avenir';
}



